#  Data Science Tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Comment and understand about Data Science tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Scala
5. Java
6. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib 
4. PyTorch
5. Keras

Data Science Tools:

| Data Science Tools | 
|:--------:|
|  SAS   |  
|  BigML   |  
|  Apache Spark   |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [14]:
x=3
y=4
(x*y)+5

17

In [23]:
#This will convert 200 minutes to hours by diving by 60#

days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

## Author
Enric Vidal